html {
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    background: url('images/this.gif');
    text-align: center;
    font-family: sans-serif;
    image-rendering: pixelated;
    margin: 0;
}
@keyframes floating {
    0% { transform: translateY(20px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(20px); }
}
@keyframes shake {
    0% {transform: translateX(10px) ;}
    50% {transform: translateX(-10px) ;}
    100% {transform: translateX(10px) ;}
}
@keyframes sizing {
    0% {transform: scaleX(0.0);}
    50% {transform: scaleX(2);}
    100% {transform: scaleX(0.0);}
}
.flying {
    animation: floating 4s infinite ease-in-out;
}
.shaking {
    animation: shake 0.2s infinite linear;
}
.sizingx {
    animation: sizing 3s infinite linear;
}
.flipped {
    transform: scaleX(-1);
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 32px;
}