
body {
    background: url('images/this.gif');
    text-align: center;
    font-family: sans-serif;
    image-rendering: pixelated;
}
@keyframes floating {
    0% { transform: translateY(20px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(20px); }
}
@keyframes shake {
    0% {transform: translateX(10px) ;}
    50% {transform: translateX(-10px) ;}
    100% {transform: translateX(10px) ;}
}
.flying {
    animation: floating 4s infinite ease-in-out;
}
.shaking {
    animation: shake 0.2s infinite linear;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 32px;
}
.flipped {
    transform: scaleX(-1);
}